@page "/"
@inject NavigationManager Navigation

<div class="landing-container">
    <h2 class="landing-subtitle">Find a Dental Hygienist</h2>

    <div class="profile-pages">
        <!-- Individuals & Families -->
        <div class="profile-page-card" @onclick="GoToIndividualsAndFamilies">
            <img src="images/nathan-anderson-GM5Yn5XRVqA-unsplash.jpg" alt="Individuals & Families" />
            <h2>Individuals & Families</h2>
        </div>

        <!-- Business & Facilities -->
        <div class="profile-page-card" @onclick="GoToBusinessAndFacilities">
            <img src="images/national-cancer-institute-1c8sj2IO2I4-unsplash.jpg" alt="Business & Facilities" />
            <h2>Business & Facilities</h2>
        </div>
    </div>
</div>

@code {
    private void GoToIndividualsAndFamilies()
    {
        Navigation.NavigateTo("/individuals-and-families");
    }

    private void GoToBusinessAndFacilities()
    {
        Navigation.NavigateTo("/business-and-facilities");
    }
}
